@font-face
	font-family: 'Aileron'
	src: local('Aileron Bold'), local('Aileron-Bold'), url('/fonts/Aileron-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: normal


@font-face
	font-family: 'Aileron'
	src: local('Aileron Italic'), local('Aileron-Italic'), url('/fonts/Aileron-Italic.ttf') format('truetype')
	font-weight: normal
	font-style: italic


@font-face
	font-family: 'Aileron'
	src: local('Aileron Black Italic'), local('Aileron-BlackItalic'), url('/fonts/Aileron-BlackItalic.ttf') format('truetype')
	font-weight: 900
	font-style: italic


@font-face
	font-family: 'Aileron'
	src: local('Aileron Bold Italic'), local('Aileron-BoldItalic'), url('/fonts/Aileron-BoldItalic.ttf') format('truetype')
	font-weight: bold
	font-style: italic


@font-face
	font-family: 'Aileron'
	src: local('Aileron Light'), local('Aileron-Light'), url('/fonts/Aileron-Light.ttf') format('truetype')
	font-weight: 300
	font-style: normal


@font-face
	font-family: 'Aileron'
	src: local('Aileron Black'), local('Aileron-Black'), url('/fonts/Aileron-Black.ttf') format('truetype')
	font-weight: 900
	font-style: normal


@font-face
	font-family: 'Aileron'
	src: local('Aileron Heavy Italic'), local('Aileron-HeavyItalic'), url('/fonts/Aileron-HeavyItalic.ttf') format('truetype')
	font-weight: 900
	font-style: italic


@font-face
	font-family: 'Aileron'
	src: local('Aileron UltraLight Italic'), local('Aileron-UltraLightItalic'), url('/fonts/Aileron-UltraLightItalic.ttf') format('truetype')
	font-weight: 200
	font-style: italic


@font-face
	font-family: 'Aileron'
	src: local('Aileron Heavy'), local('Aileron-Heavy'), url('/fonts/Aileron-Heavy.ttf') format('truetype')
	font-weight: 900
	font-style: normal


@font-face
	font-family: 'Aileron'
	src: local('Aileron Thin'), local('Aileron-Thin'), url('/fonts/Aileron-Thin.ttf') format('truetype')
	font-weight: 100
	font-style: normal


@font-face
	font-family: 'Aileron'
	src: local('Aileron UltraLight'), local('Aileron-UltraLight'), url('/fonts/Aileron-UltraLight.ttf') format('truetype')
	font-weight: 200
	font-style: normal


@font-face
	font-family: 'Aileron'
	src: local('Aileron SemiBold'), local('Aileron-SemiBold'), url('/fonts/Aileron-SemiBold.ttf') format('truetype')
	font-weight: 600
	font-style: normal


@font-face
	font-family: 'Aileron'
	src: local('Aileron Regular'), local('Aileron-Regular'), url('/fonts/Aileron-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'Aileron'
	src: local('Aileron Thin Italic'), local('Aileron-ThinItalic'), url('/fonts/Aileron-ThinItalic.ttf') format('truetype')
	font-weight: 100
	font-style: italic


@font-face
	font-family: 'Aileron'
	src: local('Aileron Light Italic'), local('Aileron-LightItalic'), url('/fonts/Aileron-LightItalic.ttf') format('truetype')
	font-weight: 300
	font-style: italic


@font-face
	font-family: 'Aileron'
	src: local('Aileron SemiBold Italic'), local('Aileron-SemiBoldItalic'), url('/fonts/Aileron-SemiBoldItalic.ttf') format('truetype')
	font-weight: 600
	font-style: italic
