@font-face
	font-family: "Blobmoji"
	// TODO: find a way to use it internally
	src: local('Blobmoji'), url('/fonts/Blobmoji.ttf') format('truetype')
	font-weight normal
	font-style normal


.emoji
	font-family: 'Blobmoji'
