@import "include/_aileron"
@import "include/_blobmoji"
@import "include/_button"
@import "include/_input"

html, body {
	margin 0
}

div, span, a, p, h1, h2, h3, h4, h5, h6, i {
	font-family Aileron, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

::selection
	background #4285F4
	color white
